// Tags
$tags_first: #D2CEFF;
$tags_second: #D1E5F7;
$tags_third: #FFCECE;
$tags_fourth: #DAF2D6;
// Task BG
$task_bg: #fff9de;
// Font Colors
$font_first: #69665c;
$font_second: #b2afa1;
// Outline
$outline: #ffffff;